<br/><br/><br/>
<div class="h-100 row text-light">
    <div class="col parent">
        <br />
        <div style="width: 80vw;">
            <form action="/users/login">
                <div class="form-group">
                    <h4>Who goes there?</h4><br/>
                    <button type="submit" class="btn btn-warning">Identify Yourself.</button>
                </div>
            </form>
        </div>
    </div>
</div>