<br /><br /><br />
<div class="h-100 row text-light">
    <div class="col parent">
        <div style="width: 80vw;">
            <h1>{{title}}</h1>
            <form method='POST' action='/campaigns/save'>

                <div class="form-group">
                    <p>Title</p>
                    <input class="form-control" type='text' name='title' value='' />
                </div>
                <div class="form-group">
                    <p>Description</p>
                    <textarea class="form-control" rows=3 cols=30 name='campaigndetail'></textarea>
                </div>

                <input class="btn btn-primary" type='submit' value='Submit' />

            </form>
        </div>
    </div>
</div>