<br /><br /><br />
<div class="h-100 row text-light">
    <div class="col parent">
        <br />
        <div style="width: 80vw;">
            <h1>{{ title }}</h1>

            <p>Key: {{ campaignkey }}</p>

            <p>{{ campaigndetail }}</p>
            <a href="/campaigns" class="btn btn-danger">Back to list</a>
        </div>
    </div>
</div>