<br /><br /><br />
<div class="h-100 row text-light">
    <div class="col">
        <br />
        <div>
            <h1>{{ title }}</h1>

            <p>Key: {{ campaignkey }}</p>

            <p>{{ campaigndetail }}</p>
        </div>
    </div>
</div>